---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ app_name }}'
  namespace: '{{ service_namespace }}'
spec:
  replicas: {{ deployment_replicas }}
  selector:
    matchLabels:
      app: '{{ app_name }}'
  template:
    metadata:
      labels:
        app: '{{ app_name }}'
    spec:
      securityContext: {{ pod_security_ctx }}
      containers:
        - name: '{{ app_name }}'
          image: '{{ deployment_container_image }}'
          ports:
            - containerPort: {{ app_port }}
          command: {{ container_entrypoint }}
          securityContext: {{ container_security_ctx }}
