---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: '{{ app_name }}'
  namespace: '{{ service_namespace }}'
spec:
  tls:
    - hosts:
        - '{{ app_fqdn }}'
      secretName: 'tls-{{ app_name }}'
  rules:
  - host: '{{ app_fqdn }}'
    http:
      paths:
      - pathType: Prefix
        path: '/'
        backend:
          service:
            name: '{{ app_name }}'
            port: 
              number: {{ app_port }}
