---
apiVersion: v1
kind: Service
metadata:
  name: '{{ app_name }}'
  namespace: '{{ homecloud_service_namespace }}'
spec:
  type: ClusterIP
  ports:
    - port: {{ host_port }}
      targetPort: {{ app_port }}
  selector:
    app: '{{ app_name }}'
